/Users/csk/Documents/_REPO/n4m-supplemental/receive-internet-sounds/n4m-receive-internet-sounds.mp4
/Users/csk/Documents/_REPO/n4m-supplemental/ifttt/.env
/Users/csk/Documents/_REPO/n4m-supplemental/*/node_modules
/Users/csk/Documents/_REPO/n4m-supplemental/ws-fm-synth/node_modules
/Users/csk/Documents/_REPO/n4m-supplemental/*/node_modules
xeno-canto/00-internal
xeno-canto/node_modules