<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<meta charset="UTF-8">
<title>express node server</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="data:image/gif;" rel="icon" type="image/x-icon" />
<!-- Bootstrap -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/style.css" />
</br>
<div style='background-color: coral;'>
    <h2 style='color: white;'> I'm the header partial</h2>
</div>
