<!DOCTYPE html>
<html lang='en'>
<% include ../partials/nav %>
    <h1>page 2</h1>
    </br>
    <% include ../partials/head %>
        <% include ../partials/body %>
            <div style='background-color: coral; '>
                <img src='./img/w.jpg' style='height:50%; min-width:30%;'>
            </div>

</html>
